.TodoListItems {
    min-width: 18rem;
    list-style: none;
    background-color: #eeeeee;
    width: 30%;
    margin: 0.5rem;
    border: 2px solid grey;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TodoTitle {
    width: 100%;
}